/*
Убираем все внутрненние и внешние отступы у всех элементов
*/

* {
    margin: 0;
    padding: 0;
}


/* 
Ширина блока складывается из ширины контента (width), значений отступов (margin), 
полей (padding) и границ (border). Аналогично обстоит и с высотой блока. 
Свойство box-sizing позволяет изменить этот алгоритм, 
чтобы свойства width и height задавали размеры не контента, а размеры блока.
Свойства width и height включают в себя значения полей и границ, но не отступов (margin). 
Эта модель используется браузером Internet Exporer в режиме несовместимости. */

*, 
*:after, 
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
Делаем новые теги HTML5 блочными для старых браузеров
*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{
    display: block;
}

/* Адаптивные изображения */

img{
    max-width: 100%;
    height: auto;
}

/* контейнер для сетки */

.container {
    width: 90%;
    margin: 0 auto;
}

/* 
Задаем размеры колонки
позиционируем влево
и задем необходимые отступы
*/

.container .cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
}

/* размеры сетки, 12 колонок */

.container .cols.col-1 {width: 8.333333333333333%;}
.container .cols.col-2 {width: 16.66666666666667%;}
.container .cols.col-3 {width: 25%;}
.container .cols.col-4 {width: 33.33333333333333%;}
.container .cols.col-5 {width: 41.66666666666667%;}
.container .cols.col-6 {width: 50%;}
.container .cols.col-7 {width: 58.33333333333333%;}
.container .cols.col-8 {width: 66.66666666666666%;}
.container .cols.col-9 {width: 75%;}
.container .cols.col-10 {width: 83.33333333333333%;}
.container .cols.col-11 {width: 91.66666666666666%;}
.container .cols.col-12 {width: 100%;}

/*
очищаем float после и до контейнера, строки
*/

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.container:before,
.row:after,
.clearfix:after{
    clear:both;
}